/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/
@font-face{
  font-family: YaHei Regular;
  src: url('fonts/Microsoft Yahei.ttf');
  font-weight: regular;
}
@font-face{
  font-family: YaHei;
  src: url('fonts/Microsoft Yahei Bold.ttf');
  font-weight: bold;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

* {
  font-family: YaHei;
  color: white;
  font-weight: bold;
}

p {
  font-family: YaHei Regular;
  font-weight: lighter;
  font-size: 16px;
  line-height: 1.5;
}

input, textarea, code, ::placeholder {
  font-family: Consolas;
  color: #000000;
  font-weight: lighter;
}



h1{
  font-size: 72px;
  text-transform: uppercase;
  margin: 0;
}

h2{
  font-size: 48px;
  margin: 0;
}

h3{
  font-size: 30px;
  margin: 0;
}

h4{
  font-size: 20px;
  text-transform: uppercase;
}



a{
  text-decoration: none;
}

html, body{
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #90c947;
  overflow-x: hidden;
}

ul {
  list-style-type: none;  /* remove bullets*/
  margin: 0;
  padding: 0;
}


code{
  font-size: 12px;
  display: inline-block;
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  margin: 20px 0px 20px 0px;
}

form{
  display: flex;
  /* width: 100%; */
  height: auto;
  flex-direction: column;
  padding: 25px;
  background-color: #85c138;
  border-radius: 25px;
}


/*
  FLEX-BOX related -------------------
*/
.half-width{
  width: 50vw;
  margin-top: 120px;
}
.box{
  display: flex;
  margin-left: 20%;
  justify-content: center;
  width: 50%;
}
.max{
  width: 100vw;
  height: 100vh;
}
.half{
  height: 50vh;
}

div.max{
  background-color:#90c947;
}

div.max:nth-child(even){
  background-color: #85c138;
}
div.wrapper{
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

div.container{
  display: flex;
  min-height: 100vh;
  padding:30px;
}

div.center{
  display: flex;
  align-items:center;
  justify-content: center;

}
div.left{
  display: flex;
  justify-content: start;
}
div.right{
  display: flex;
  justify-content: end;
}
div.row{
  display: flex;
  flex-direction: row;
}
div.column{
  display: flex;
  flex-direction: column;
}
div.space-between {
  flex-wrap: wrap;
  justify-content: space-between;
}

/*
  User input related -------------------
*/
input[type=text], input[type=number], input[type=email]{
  background-color: #C1E297;
  border: 1px solid #90C947;
  border-radius: 10px;
  outline: none;
  padding: 10px 15px 10px 15px;
  margin: 5px 0;
  transition: all 0.2s;
}
input:focus {
  border: 1px solid #ffffff;
}


textarea{
  padding: 10px 15px 5px 15px;
  margin: 5px 0;
  background-color: #C1E297;
  border: 1px solid #90C947;
  outline: none;
  border-radius: 10px;
  max-width: 100%;
  transition: all 0.2s;
}
textarea:focus {
  border: 1px solid #ffffff;
}
::placeholder {
  font-size: 14px;
}


button{
  display: inline-flex;
  background-color: #ffb600;
  min-width: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: none;
  padding: 10px;
  margin: 15px 0px 15px 0px;
  text-decoration: none;
  text-transform: uppercase;
}
button:focus{
  outline:0;
}
button:hover{
  background-color: #E46A6c;
  cursor:pointer;
}



/*
  INTERACTIVE ELEMENTS -------------------
*/
div.button, input[type=submit]{
  display: inline-flex;
  background-color: #ffb600;
  min-width: 150px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding: 10px;
  box-shadow: 0px 0px 10px #82b540;
}
div.button:hover{
  background-color: #e46a6c;
}

input[type=submit]{
  display: flex;
  width: 150px;
  border-style: none;
  color: white;
  font-family: YaHei;
  font-weight: regular;
  text-transform: uppercase;
  margin: 15px 0px 15px 0px;
}
input[type=submit]:hover{
  background-color: #e46a6c;
  cursor: pointer;
}

div.button > h4{
    margin: 0;
}

div.button:hover{
  background-color: #e46a6c;

}
.underline{
  background-color: white;
  height: 1px;
  width: 100%;
  margin: 20px 0px;
}

div.navbar{
  background-color: #90c947;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 80px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #82B741;
  position: fixed;
  z-index: 10;
  margin: 0px;
}
div.innerNavbar{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

div.mobileNav{
  display: none;
}

.checkoutContainer{
  position: absolute;
  display: inline-flex;
  align-items: center;
  right: 0;
  font-size: 40px;
  height: 80px;
  margin-right: 5%;
}
#headerLogo{
  width: 40px;
  margin: 0px 20px 0px 20px;
}



/* navigation (to page, to id) link */
#hamburger{
  width: 50px;
}
#hamburger:hover{
  cursor: pointer;
}
.nav-item-container{
  display: flex;
  justify-content: center;
  width: 100px;
  margin: 0px 20px 0px 20px;
}
.nav-item{
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;

}
.nav-item:hover{
  color: #78a83B;
  cursor: pointer;
}


/* social media icons (linked) */
.row > ion-icon.socials{
  margin-right: 10px;
}
ion-icon.socials{
  font-size: 32px;
  color: white;
  margin: 5px 20px;
}

ion-icon.socials:hover{
  cursor: pointer;
  color: #78a83B;
}





/*
  SHOP (PRODUST LISTING) PAGE-------------------
*/
.product-section {
  padding: 2rem 0;
}
/* Shop.html Styling for single product*/
.product-frame {
  width: 280px;
  /* height: 380px; */
  margin-bottom: 5rem;
}

.product-img-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 280px;
  overflow: hidden;
  border: 4px solid #ffffff;
  border-radius: 10px;
  transition: all .2s ease;
  background-color: white;
}
.product-add{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 288px;
  height: 280px;
  background-color: rgba(0,0,0, 0.5);
  opacity: 0;
  transition: opacity 0.25s linear;

}
.product-add > button{
  opacity: 0;
  transform: translateY(10px);
  transition: transform 0.25s linear, opacity 0.25s linear;
}
.product-add:hover{
  opacity: 1;
}
.product-add:hover > button{
  opacity: 1;
  transform: translateY(0px);
}
.product-img-wrapper >a> img{
  max-height:100%;
  width: 280px;
  height: 280px;
  transition: all .5s ease;
  vertical-align: middle;
}

/* img focus animatuion */
.product-img-wrapper:hover,
.product-img-wrapper:focus {
  border-color: #ffffff;
  border-radius: 20px;
}

/*
.product-img-wrapper >a> img:hover,
.product-img-wrapper >a> img:focus {
  transform:scale(1.3);
}
*/

.product-detail>a>h4, .product-detail>a> p, .product-detail > a {
  margin: 0.5rem 0;
  color: #ffffff;
}


/*
   CART PAGE-------------------
*/
.checkoutItemContainer, .checkoutItem, .qtyButtonContainer, .priceContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.checkoutItemContainer{
  background-color: #85c138;
  margin: 1rem 0;
  padding: 2rem;
  width: auto;
}

.qtyButtonContainer{
  width: 60%;
}
.priceContainer, .qtyButtonContainer{
  width: 20%;
}

.checkoutItem > img{
  width: 150px;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  border-radius: 15px;
}

.checkoutItem, .checkoutItem >a> h4 {
  margin-left: 2em;
}

.qtyButton{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
}

/* Total Amount due at check out */
.totalContainer {
  /* height: 100%; */
  padding: 20px;
  border-radius: 25px;
  margin: 0 3rem 0 0;
}
.totalContainer div {
  margin: 0 2em 0 0 ;
}
.totalContainer >div> p, .totalContainer >div> h4 {
  margin: 0.3rem 1rem;
}


/*
   PAYMENT PAGE-------------------
*/
.payment {
  margin: 0;
  width: 33rem;
}
.total-payment {
  background-color: #85c138;
}
.payment h4, .payment > label {
  margin: 15px 0 0 1px ;
}

.payment div {
  margin: 0 3px 0 0;
}

.payment input {
  display: flex;
  flex-grow: 1;
}


/*
  CONTACT PAGE -------------------
*/
.contactContainer {
  background-color: #85c138;
  border-radius: 20px;
  height: 30vh;
  padding: 25px;
  margin: 1rem 0;
}
.contact-section {
  margin: 2rem 0;
}
.contact-icon > a{
  margin: 0 2rem;
}

/*
  Events PAGE -------------------
*/
.eventContainer {
  height: auto;
  padding: 25px;
  margin: 2rem 0;
  background-color: #85c138;
  border-radius: 20px;
}
.eventContainer > a{
  color: #FDE4A8;
}
.eventContainer > a:hover{
  color: #F5B5B6;
}


/*
  INDIVIDUAL PRODUCT PAGE-------------------
*/
/* location */
.indv-loc > a {
  font-size: 14px;
}
/* image side */
.indv-img {
  width: 40%;
  margin: 12px 0 5rem 0;
}
.indv-img-frame {
  width: 100%;
  height: 400px;
  margin: 0 0 2rem 0;
}
.indv-mini-img {
  width: 25%;
  height: 80px;
  margin: 0 10px 0 0;
}
.indv-img-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  border: 4px solid #ffffff;
  border-radius: 10px;
  background-color: white;
  margin: 0 0 5rem 0;
}
.indv-img-wrapper > img {
  height: 100%;
}
/* text side */
.indv-text {
  width: 60%;
  margin: 0 0 0 2rem;
}

.indv-text > h4{
  margin: 2rem 0px 0.5rem 0px;
}
.indv-text > h3, .indv-text > h2{
  margin: 0 5px 0.5rem 0;
}
/* add space above */
.indv-section {
  margin-top: 2rem;
}
/* BuyItNow & AddToCart */
.indv-button {
  width: 20rem;
  margin: 1rem 0 0 0;
}
.indv-button-alt {
  width: 20rem;
  margin: 1rem 0 0 0;
  background-color: #90C947;
  border: solid 2px #FFF;
}
.indv-button-alt: hover {
  background-color: #E46A6C;
}
.indv-icons {
  margin: 0 1rem ;
}
/* .purchaseContainer {
  margin: 1rem 0;
}
.purchaseContainer > h4 {
  margin: 0.3rem 1rem;
} */




/*
   -------------------
*/
.svgCat{
  width: 200px;
}

.sign{
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px 0px 10px;
}
.sign:hover{
  color: #ffb600;
  cursor: pointer;
}

/* Styling Details */
div.carousel{
  display: flex;
  width: 200vw;
}
div.carousel > a > img {
  margin: 50px 20px 50px 20px;
  border-radius: 30px;
}

div.carousel > a > img:hover{
  border-color: white;
  border-style: solid;
  border-width: 10px;
  cursor: pointer;
  margin: 40px 10px 40px 10px;
}


.checkout:hover{
  color: #78a83B;
  cursor: pointer;
}
.checkout{
  font-size: 25px;

}


.footer{
  width: 100vw;
  height: 30vh;
  background-color: #7AAf36;
}

a > ion-icon:hover{
  color: #78a83B;
}

/* Animated Elements */

#bm {
  width: 600px;
}

.animateLetters {
  position: relative;
}

.animateLetters .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  overflow: hidden;
}

.animateLetters .letter {
  transform-origin: 50% 100%;
  display: inline-block;
}

/*BREAKPOINT FOR MOBILE */
@media only screen and (max-width: 768px){
  /* FLEXBOX RELATED */
  .half-width{
    width: 95vw;
  }
  .checkoutContainer{
    display: none;
  }
  div.mobileNav{
    display: flex;
    width: 90%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
  }

  div.innerNavbar{
    display:none;
  }

  #hamburgerMenu, #checkout{
    font-size: 40px;
  }
  #hamburgerMenu:hover, #checkout:hover{
    color: #78a83B;
    cursor: pointer;
  }

  h2{
    font-size: 36px;
  }

  .box{
    width: 80%;
  }
  .bodyText{
    margin-right: 20%;
  }

  /*Checkout related */
  .checkoutItemContainer{
    flex-direction: column;
    align-items: flex-start;
  }

  .checkoutItemContainer > .qtyButtonContainer, .checkoutItemContainer > .priceContainer{
    margin-left: 225px;
  }

}
