@font-face{
  font-family: YaHei Regular;
  src: url('fonts/Microsoft Yahei.ttf');
  font-weight: regular;
}
@font-face{
  font-family: YaHei;
  src: url('fonts/Microsoft Yahei Bold.ttf');
  font-weight: bold;
}

h1, h2, h3{
  font-family: YaHei;
  color: white;
  font-weight: bold;
}

h1{
  font-size: 72px;
  text-transform: uppercase;
}

h2{
  font-size: 48px;
}

h3{
  font-size: 32px;
}

h4{
  color: white;
  font-family: YaHei Regular;
  font-size: 16px;
  text-transform: uppercase;

}

a{
  text-decoration: none;
}

html, body{
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #90c947;
  overflow-x: hidden;
}

div.wrapper{
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;

}

div.container{
  display: flex;
  min-height: 100vh;
  padding:30px;

}

div.center{
  align-items:center;
  justify-content: center;

}

div.row{
  flex-direction: row;
}
div.column{
  flex-direction: column;
}

code{
  display: inline-block;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  margin: 20px 0px 20px 0px;

}

div.button{
  display: inline-flex;
  background-color: #ffb600;
  min-width: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding: 10px;
  box-shadow: 0px 0px 10px #82b540;
}

div.button > h4{
    margin: 0;
}

div.button:hover{
  background-color: #e46a6c;

}
.underline{
  background-color: white;
  height: 1px;
  width: 100%;
  margin: 20px;
}

div.navbar{
  background-color: #90c947;
  display: flex;
  width: 100%;
  height: 80px;
  box-shadow: 0px 10px 20px #82b540;
  position: fixed;
}

input[type=text]{
  background-color: #C1E297;
  border-radius: 10px;
  border-style: none;
  padding: 5px 15px 5px 15px;
}

.nav-item{
  font-family: YaHei;
  font-weight: bold;
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0px 30px 0px 30px;

}
.nav-item:hover{
  color: #78a83B;
}

ion-icon{
  font-size: 32px;
  color: white;

}

ion-icon:hover{
  cursor: pointer;
  color: #78a83B;
}
