/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/
@font-face{
  font-family: YaHei Regular;
  src: url('fonts/Microsoft Yahei.ttf');
  font-weight: regular;
}
@font-face{
  font-family: YaHei;
  src: url('fonts/Microsoft Yahei Bold.ttf');
  font-weight: bold;
}

* {
  font-family: YaHei;
  color: white;
  font-weight: bold;
  margin: 15px 0px 15px 0px;
}

p {
  font-family: YaHei Regular;
  font-weight: lighter;
}

input, textarea, code, span, ::placeholder {
  font-family: Consolas;
  color: #000000;
  font-weight: lighter;
}

h1{
  font-size: 72px;
  text-transform: uppercase;
}

h2{
  font-size: 48px;
}

h3{
  font-size: 30px;
}

h4{
  font-size: 20px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
}


a{
  text-decoration: none;
}

html, body{
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #90c947;
  overflow-x: hidden;
}

ul {
  list-style-type: none;  /* remove bullets*/
  margin: 0;
  padding: 0;
}


code{
  font-size: 12px;
  display: inline-block;
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  margin: 20px 0px 20px 0px;
}

form{
  display: flex;
  /* width: 100%; */
  height: auto;
  flex-direction: column;
  padding: 25px;
  background-color: #85c138;
  border-radius: 25px;
}


/*
  FLEX-BOX related -------------------
*/
div.wrapper{
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
}

div.container{
  display: flex;
  min-height: 100vh;
  padding:30px;
}

div.center{
  display: flex;
  align-items:center;
  justify-content: center;

}
div.left{
  display: flex;
  justify-content: start;
}
div.right{
  display: flex;
  justify-content: end;
}
div.row{
  display: flex;
  flex-direction: row;
}
div.column{
  display: flex;
  flex-direction: column;
}
div.space-between {
  flex-wrap: wrap;
  justify-content: space-between;
}

/*
  User input related -------------------
*/
input[type=text], input[type=number], input[type=email]{
  background-color: #C1E297;
  border: 1px solid #90C947;
  border-radius: 10px;
  outline: none;
  padding: 10px 15px 10px 15px;
  margin: 5px 0;
  transition: all 0.2s;
}
input:focus {
  border: 1px solid #ffffff;
}


textarea{
  padding: 10px 15px 5px 15px;
  margin: 5px 0;
  background-color: #C1E297;
  border: 1px solid #90C947;
  outline: none;
  border-radius: 10px;
  max-width: 100%;
  transition: all 0.2s;
}
textarea:focus {
  border: 1px solid #ffffff;
}
::placeholder {
  font-size: 14px;
}


button{
  display: inline-flex;
  background-color: #ffb600;
  min-width: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: none;
  padding: 10px;
  margin: 5px 0;
  box-shadow: 0px 0px 10px #82b540;
}
button > h4{
    margin: 0;
}



/*
  INTERACTIVE ELEMENTS -------------------
*/
div.button, input[type=submit]{
  display: inline-flex;
  background-color: #ffb600;
  min-width: 150px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding: 10px;

}
div.button:hover{
  background-color: #e46a6c;
}

input[type=submit]{
  display: flex;
  width: 150px;
  border-style: none;
  color: white;
  font-family: YaHei;
  font-weight: regular;
  text-transform: uppercase;
  margin: 15px 0px 15px 0px;
}
input[type=submit]:hover{
  background-color: #e46a6c;
  cursor: pointer;
}

div.button > h4{
    margin: 0;
}

div.button:hover{
  background-color: #e46a6c;

}
.underline{
  background-color: white;
  height: 1px;
  width: 100%;
  margin: 20px 0px;
}

div.navbar{
  background-color: #90c947;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  box-shadow: 0px 10px 20px #82b540;
  position: fixed;
  z-index: 10;
  margin: 0px;
}
#headerLogo{
  width: 40px;
  margin: 0px 20px 0px 20px;
}



/* navigation (to page, to id) link */
.nav-item{
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0px 30px 0px 30px;
}
.nav-item:hover{
  color: #78a83B;
  cursor: pointer;
}


/* social media icons (linked) */
ion-icon{
  font-size: 32px;
  color: white;
  margin: 5px 20px;
}

ion-icon:hover{
  cursor: pointer;
  color: #78a83B;
}





/*
  SHOP (PRODUST LISTING) PAGE-------------------
*/

/* Shop.html Styling for single product*/
.product-frame {
  width: 280px;
  height: 330px;
  margin-bottom: 35px;
}

.product-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border: 4px solid #ffffff;
  border-radius: 10px;
  transition: all .2s ease;
  background-color: white;
}

.product-img-wrapper img{
  max-height:100%;
  height: 250px;
  transition: all .5s ease;
  vertical-align: middle;
}

/* img focus animatuion */
.product-img-wrapper:hover,
.product-img-wrapper:focus {
  border-color: #ffffff;
  border-radius: 20px;
}

.product-img-wrapper img:hover,
.product-img-wrapper img:focus {
  transform:scale(1.3);
}

.product-detail h4, p, a{
  margin: 5px 0;
  color: #ffffff;
}

/* Checkout Styling */
.checkoutItemContainer, .checkoutItem, .qtyButtonContainer, .priceContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.checkoutItemContainer{
  background-color: #85c138;
}

.qtyButtonContainer{
  width: 60%;
}
.priceContainer, .qtyButtonContainer{
  width: 20%;
}

.checkoutItem > img{
  width: 150px;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  border-radius: 15px;
}

.checkoutItem, .checkoutItem > h4{
  margin-left: 40px;
}

.qtyButton{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
}

/* Total Amount due at check out */
.totalContainer {
  margin: 1rem 0;
}
.totalContainer div {
  margin: 0 2em 0 0 ;
}
.totalContainer h4,h3 {
  margin: 0.3rem 1rem;
}

/* Payment Form Styling */
.payment {
  margin: 0;
  width: 33rem;
}

.payment h4, label {
  margin: 15px 0 0 1px ;
}

.payment div {
  margin: 0 3px 0 0;
}

.payment input {
  display: flex;
  flex-grow: 1;
}


/*
  CONTACT PAGE -------------------
*/
.socialMediaContainer{
  background-color: #85c138;
  border-radius: 20px;
  height: auto;
  padding: 25px;
  margin: 1rem 0;
}
.socialMediaContainer h3{
  margin-bottom: 2rem;
}


/*
  Events PAGE -------------------
*/
.eventContainer {
  height: auto;
  padding: 25px;
  margin: 8em 0;
}
.eventContainer a{
  color: #FDE4A8;
}
.eventContainer a:hover{
  color: #F5B5B6;
}


/*
  INDIVIDUAL PRODUCT PAGE-------------------
*/
/* image side */
.indv-img {
  width: 40%;
  margin: 12px 0 5rem 0;
}
.indv-img-frame {
  width: 100%;
  height: 400px;
  margin: 0 0 2rem 0;
}
.indv-mini-img {
  width: 25%;
  height: 80px;
  margin: 0 10px 0 0;
}
.indv-img-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  border: 4px solid #ffffff;
  border-radius: 10px;
  background-color: white;
  margin: 0 0 5rem 0;
}
.indv-img-wrapper > img {
  height: 100%;
}

/* text side */
.indv-text {
  width: 60%;
  margin: 0 0 0 2rem;
}

.indv-text > h4{
  margin: 2rem 0px 0.5rem 0px;
}
.indv-text > h3, h2{
  margin: 0 5px 0.5rem 0;
}
/* add space above */
.indv-section{
  margin-top: 2rem;
}
.purchaseContainer {
  margin: 1rem 0;
}
.purchaseContainer > h4 {
  margin: 0.3rem 1rem;
}

/*
   -------------------
*/
.svgCat{
  width: 200px;
}

.sign{
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px 0px 10px;
}
.sign:hover{
  color: #ffb600;
  cursor: pointer;
}
