/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/
body {
  font-family: Lato;
  font-size: 14px;
  background-color: #ffffff;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #6CC9BF;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 52px;
  font-weight: bold;
  margin-top: 4rem;
}

h2 {
  font-size: 42px;
  font-weight: bold;
  margin-top: 4rem;
}

h3 {
  font-size: 36px;
  font-weight: bold;
  font-style: italic;
  margin-top: 2rem;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  margin: 0.5rem 0;
  color: #56575B
}

p {
  font-size: 14px;
  font-weight: regular;
  color: #282828;
}



code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}

ul {
  list-style-type: none;  /* remove bullets*/
  margin: 0;
  padding: 0;
}

ol {

}

li {

}


/* auto resize img to fit div */
img {
  max-height:100%;
}


/* Styling for normal buttons */
button {
  font-size: 1.1rem;
  color: white;
  padding: 0.6em 1.5em;
  border: none;
  border-radius: 4px;
  background-color: #E87676;
  transition-property: backgroud-color;
  transition-duration: 0.2s;
}
button:hover, button:focus {
  background-color: #DE4E4E;
}

/* text input fild */
input[type=text] {
  padding: 15px;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  max-width: 100%;
  min-width: 50em;
  display: inline-block;
}

/* large textbox input field */
textarea {
  padding: 15px;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  max-width: 100%;
}

/* regular label */
label {
  display: block;
  margin: 1em 0 0.3em 2px;

}




/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for in-text links */
.text-link {
  display: inline;
  color: #282828;
  transition-property: color;
  transition-duration: 0.2s;
}

.text-link:hover, .text-link:focus {
  color: #E15F5F;
}

/* img focus animatuion */
.img-wrapper {
  display: inline-block;
  overflow: hidden;
  border: 2px solid #F4F6FA;
  transition: all .2s ease;
}

.img-wrapper img{
  transition: all .5s ease;
  vertical-align: middle;
}

.img-wrapper:hover, .img-wrapper:focus {
  border-color: #90C947;
  border-radius: 15px;
}

.img-wrapper img:hover, .img-wrapper img:focus {
  transform:scale(1.3);
}

/* Padding at TOP and BOT */
.wrapper-page {
  display:inline-flex;
  flex-direction: column;
  /* width: auto; */
  /* background-color: #F5F5F5; */
  margin: 80px 155px 80px 155px;
}

/* Padding at TOP and BOT */
.wrapper-ver {
  padding-top: 5em;
  padding-bottom: 10em;
}

/* Padding at SIDES */
.wrapper-hor {
  padding: 2em;
}


/* Styling for navigation buttons */
.button-nav {
  margin: 0 1em;
  color: #CACEDE;
  transition: all .2s ease;
}

.button-nav:hover, .button-nav:focus {
  color: #90C947;
  transition: all .1s ease;
}

/* Styling for listings */
.product-frame {
  width: 300px;
  height: 330px;
  margin-bottom: 35px;
}

.product-img {
  width: 300px;
  height: 275px;
}

.product-detail h4, p{
  margin: 0;
}

/* Styling for videos */
.video-frame {
  padding: 2em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.video-frame img {

}

/* Styling for videos */
.contact-form {
  padding: 5em 15em;
  background-color: #F7F7F7;
}

/*
  TEXT ELEMENTS -------------------
*/




/*
  COMBINED ELEMENTS -------------------
*/
/* top nav bar bakgrond box only */
.navbar {
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #ACAFBA;
}

.nav-block {


}

.navbar a:hover, .navbar a:focus {
  text-decoration: none;
}

/*
  WRAPPERS -------------------
*/
.inner-wrap {
  padding: 2em;
  border-radius: 5px;
  background-color: #F7F7F7;
}

.outter-wrap {
  border-radius: 20px;
  background-color: #F7F7F7;
}

.wrapper-around {
  padding: 3% 6%;
}

/*
  FLEX BOX RELATED -------------------
*/
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* center aligner */
.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* <- left aligner <- */
.aligner-left{
  display: flex;
    flex-wrap: wrap;
  align-items: left;
  justify-content: center;
}

.aligner-start {
  display: flex;
  justify-content: start;
}

/*
  TAGS -------------------
*/

/* consider changeing it to % later */
#nav-logo {
  height: 40px;
  margin-left: 155px;
}
#nav-tag {
  min-width: 10em;
  flex-grow: 4;
  margin-right: 155px;
  justify-content: flex-end;
}
